#### NAMA : MUHAMMAD NAUFAL IHSAN MAULIDIN ####
#### NIM : 2109106034 ####
#### KELAS : INFORMATIKA A2 2021 ####

#### IMPORT LIBRARY YANG DIGUNAKAN ####

In [1]:
import pandas as pd

In [2]:
import numpy as np

#### MEMBUKA FILE CSV ####

In [3]:
df = pd.read_csv("steam.csv")

#### MENCARI INFORMASI TERKAIT ISI DATA CSV ####

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27075 entries, 0 to 27074
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   appid             27075 non-null  int64
 1   name              27075 non-null  object
 2   release_date      27075 non-null  object
 3   english           27075 non-null  int64
 4   developer         27075 non-null  object
 5   publisher         27075 non-null  object
 6   platforms         27075 non-null  object
 7   required_age      27075 non-null  int64
 8   categories        27075 non-null  object
 9   genres            27075 non-null  object
 10  steamspy_tags     27075 non-null  object
 11  achievements      27075 non-null  int64
 12  positive_ratings  27075 non-null  int64
 13  negative_ratings  27075 non-null  int64
 14  average_playtime  27075 non-null  int64
 15  median_playtime   27075 non-null  int64
 16  owners            27075 non-null  object
 17  price             27075 non-null  float64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.7+ MB

#### MEMASUKKAN DATA YANG DIPEROLEH KE DALAM DICTIONARY ####

In [7]:
infodata = {
'attributes': [],
'object_attributes': 0,
'number_attributes': 0,
'null_attributes': 0,
'total_records': 0,
}

In [9]:
infodata['attributes'] = list(df.columns.values)
infodata['object_attributes'] = list(df.select_dtypes(['object']).columns)
infodata['number_attributes'] = list(df.select_dtypes(['float64', 'int64']).columns)
infodata['null_attributes'] = list(df.loc[:, df.isnull().any()].columns)
infodata['total_records'] = df.shape[0]

#### PRINT HASIL INFODATA : ####

#### 1.) JUMLAH RECORD DATA ####

In [20]:
print("JUMLAH RECORD PADA DATA :", infodata['total_records'])

JUMLAH RECORD PADA DATA : 27075

#### 2.) NAMA ATTRIBUTES DATA ####

In [23]:
print("NAMA SELURUH ATTRIBUTES DATA :", infodata['attributes'])

NAMA SELURUH ATTRIBUTES DATA : ['appid', 'name', 'release_date', 'english', 'developer', 'publisher', 'platforms', 'required_age', 'categories', 'genres', 'steamspy_tags', 'achievements', 'positive_ratings', 'negative_ratings', 'average_playtime', 'median_playtime', 'owners', 'price']

#### 3.) JUMLAH ATTRIBUTES DATA ####

In [26]:
print("JUMLAH TOTAL ATTRIBUTES DATA :", len(infodata['attributes']))
print("JUMLAH ATTRIBUTES DENGAN TIPE OBJEK :", len(infodata['object_attributes']))
print("JUMLAH ATTRIBUTES DENGAN TIPE ANGKA :", len(infodata['number_attributes']))
print("JUMLAH ATTRIBUTES NULL :", len(infodata['null_attributes']))

JUMLAH TOTAL ATTRIBUTES DATA : 18
JUMLAH ATTRIBUTES DENGAN TIPE OBJEK : 9
JUMLAH ATTRIBUTES DENGAN TIPE ANGKA : 9
JUMLAH ATTRIBUTES NULL : 0

#### MENAMPILKAN RATA-RATA STD, NILAI MIN, MAX, Q1, Q2 DAN Q3 DARI ATTRIBUTES ANGKA ####

#### KITA DAPAT MENAMPILKAN NILAI RATA-RATA STD, NILAI MIN, MAX, Q1, Q2 DAN Q3 DARI ATTRIBUTES ANGKA DENGAN COMMAND DF.DESCRIBE() ####

In [27]:
df.describe()

,appid,english,required_age,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,price
count,2.707500e+04,27075.000000,27075.000000,27075.000000,2.707500e+04,27075.000000,27075.000000,27075.00000,27075.000000
mean,5.962035e+05,0.981127,0.354903,45.248864,1.000559e+03,211.027147,149.804949,146.05603,6.078193
std,2.508942e+05,0.136081,2.406044,352.670281,1.898872e+04,4284.938531,1827.038141,2353.88008,7.874922
min,1.000000e+01,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.00000,0.000000
25%,4.012300e+05,1.000000,0.000000,0.000000,6.000000e+00,2.000000,0.000000,0.00000,1.690000
50%,5.990700e+05,1.000000,0.000000,7.000000,2.400000e+01,9.000000,0.000000,0.00000,3.990000
75%,7.987600e+05,1.000000,0.000000,23.000000,1.260000e+02,42.000000,0.000000,0.00000,7.190000
max,1.069460e+06,1.000000,18.000000,9821.000000,2.644404e+06,487076.000000,190625.000000,190625.00000,421.990000

#### MENAMPILKAN NILAI KORELASI ATTRIBUTES ANGKA ####

#### KITA DAPAT MENAMPILKAN NILAI KORELASI DENGAN COMMAND DF.CORR() ####

In [8]:
df.corr()

,appid,english,required_age,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,price
appid,1.000000,-0.116878,-0.087740,0.040510,-0.070888,-0.052198,-0.070236,-0.048308,-0.152112
english,-0.116878,1.000000,0.002860,0.014121,0.006001,0.005705,0.000338,-0.003416,0.007716
required_age,-0.087740,0.002860,1.000000,-0.005459,0.060418,0.057599,0.034423,0.014748,0.120358
achievements,0.040510,0.014121,-0.005459,1.000000,0.006058,0.003578,0.014175,0.009957,-0.007996
positive_ratings,-0.070888,0.006001,0.060418,0.006058,1.000000,0.762804,0.157898,0.035776,0.036110
negative_ratings,-0.052198,0.005705,0.057599,0.003578,0.762804,1.000000,0.161140,0.047887,0.051259
average_playtime,-0.070236,0.000338,0.034423,0.014175,0.157898,0.161140,1.000000,0.914900,0.049242
median_playtime,-0.048308,-0.003416,0.014748,0.009957,0.035776,0.047887,0.914900,1.000000,0.036610
price,-0.152112,0.007716,0.120358,-0.007996,0.036110,0.051259,0.049242,0.036610,1.000000

#### MENGUBAH NILAI SALAH SATU ATTIBUTES ANGKA MENJADI DESIMAL ####

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27075 entries, 0 to 27074
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   appid             27075 non-null  int64
 1   name              27075 non-null  object
 2   release_date      27075 non-null  object
 3   english           27075 non-null  int64
 4   developer         27075 non-null  object
 5   publisher         27075 non-null  object
 6   platforms         27075 non-null  object
 7   required_age      27075 non-null  int64
 8   categories        27075 non-null  object
 9   genres            27075 non-null  object
 10  steamspy_tags     27075 non-null  object
 11  achievements      27075 non-null  int64
 12  positive_ratings  27075 non-null  int64
 13  negative_ratings  27075 non-null  int64
 14  average_playtime  27075 non-null  int64
 15  median_playtime   27075 non-null  int64
 16  owners            27075 non-null  object
 17  price             27075 non-null  float64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.7+ MB

#### KITA AKAN MENGUBAH POSITIVE_RATINGS MENJADI DESIMAL ####

#### SEBELUM DIUBAH ####

In [11]:
df.head(5)

,appid,name,release_date,english,developer,publisher,platforms,required_age,categories,genres,steamspy_tags,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,owners,price
0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,124534,3339,17612,317,10000000-20000000,7.19
1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,3318,633,277,62,5000000-10000000,3.99
2,30,Day of Defeat,2003-05-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Valve Anti-Cheat enabled,Action,FPS;World War II;Multiplayer,0,3416,398,187,34,5000000-10000000,3.99
3,40,Deathmatch Classic,2001-06-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,1273,267,258,184,5000000-10000000,3.99
4,50,Half-Life: Opposing Force,1999-11-01,1,Gearbox Software,Valve,windows;mac;linux,0,Single-player;Multi-player;Valve Anti-Cheat en...,Action,FPS;Action;Sci-fi,0,5250,288,624,415,5000000-10000000,3.99

##### COMMAND MENGUBAH #####

In [12]:
df['positive_ratings'] = df['positive_ratings'].astype('float64')

#### SETELAH DIUBAH ####

In [15]:
df.head(5)

,appid,name,release_date,english,developer,publisher,platforms,required_age,categories,genres,steamspy_tags,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,owners,price
0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,124534.0,3339,17612,317,10000000-20000000,7.19
1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,3318.0,633,277,62,5000000-10000000,3.99
2,30,Day of Defeat,2003-05-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Valve Anti-Cheat enabled,Action,FPS;World War II;Multiplayer,0,3416.0,398,187,34,5000000-10000000,3.99
3,40,Deathmatch Classic,2001-06-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,1273.0,267,258,184,5000000-10000000,3.99
4,50,Half-Life: Opposing Force,1999-11-01,1,Gearbox Software,Valve,windows;mac;linux,0,Single-player;Multi-player;Valve Anti-Cheat en...,Action,FPS;Action;Sci-fi,0,5250.0,288,624,415,5000000-10000000,3.99

#### MENAMPILKAN 10 RECORD PERTAMA ATTRIBUTES BERTIPE ANGKA ####

In [16]:
angka = df.select_dtypes(include=np.number)

In [17]:
angka.head(10)

,appid,english,required_age,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,price
0,10,1,0,0,124534.0,3339,17612,317,7.19
1,20,1,0,0,3318.0,633,277,62,3.99
2,30,1,0,0,3416.0,398,187,34,3.99
3,40,1,0,0,1273.0,267,258,184,3.99
4,50,1,0,0,5250.0,288,624,415,3.99
5,60,1,0,0,2758.0,684,175,10,3.99
6,70,1,0,0,27755.0,1100,1300,83,7.19
7,80,1,0,0,12120.0,1439,427,43,7.19
8,130,1,0,0,3822.0,420,361,205,3.99
9,220,1,0,33,67902.0,2419,691,402,7.19

#### STEP TERAKHIR SIMPAN DATASET BERTIPE ANGKA YANG TELAH DITAMPILKAN KE DALAM FILE CSV ####

In [18]:
df[['appid', 'english', 'required_age', 'achievements', 'positive_ratings', 'negative_ratings', 'average_playtime', 'median_playtime', 'price']].to_csv("tipe_data_angka_steam.csv")

# SELESAI #

# TERIMA KASIH #